forge/node_modules/@capacitor/android/capacitor/build/.transforms/eb31e015175ccb3cb4d86e917ef9362b/transformed/bundleLibRuntimeToDirRelease/bundleLibRuntimeToDirRelease_dex/com/getcapacitor/plugin/util/HttpRequestHandler$HttpURLConnectionBuilder.dex
forge/node_modules/@capacitor/android/capacitor/build/.transforms/eb31e015175ccb3cb4d86e917ef9362b/transformed/bundleLibRuntimeToDirRelease/bundleLibRuntimeToDirRelease_dex/com/getcapacitor/plugin/util/HttpRequestHandler$HttpURLConnectionBuilder.dex
