.venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp
*.tmp
.DS_Store
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace
*.egg-info/
dist/
build/
*.egg
*.whl
coverage/
htmlcov/
.coverage
.coverage.*